################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RedirectMapGenerator.Console/bin/
/RedirectMapGenerator.Console/obj/
*.suo
